
/* layout css */
body {
    font-family: Helvetica, sans-serif;
    letter-spacing: .1em;
    background:transparent !important;
    background-image: url('/../images/ok-radar-large.png') !important;
    background-repeat:no-repeat;
    background-size:cover;
}
a {
    cursor: pointer;
}
header {
    text-align: center;
    background-color: rgba(14,148,211,.9);
}
header {
    padding-top: 50px;
    background-image: url('/../images/ok-radar-logo.png');
    background-repeat:no-repeat;
    background-position: center 20px;     
}
h1 {
    padding-top: 1.1em;
    font-weight: 600;
    font-size: 200%;
    letter-spacing: .2em;
    color: rgba(255,255,255,.9);
}
h2 {
    font-size: 100%;
    letter-spacing: 1em;
    margin-bottom: 0;
    color: rgba(255,255,255,.7);
    background-color: #0774a7;
}
.okFilters {
    padding-top: 1em;
    color:#fff;
    background-color: rgba(148,204,106,.7);
}
.okOr {
    display: inline;
    line-height: 0;
    padding:10px;
    margin:10px;
    border:solid thin #fff;
    border-radius: 50%;
}
footer {
    color: #fff;
    padding-top: 300px;
    text-align: center;
    background-color: #0774a7;
}
@media screen and (min-width: 767px) {
    header {
    padding-top: 30px;
    }
    
    h1 {
    font-size: 300%;
   }
}
