
/* layout css */
body {
    font-family: Helvetica, sans-serif;
    letter-spacing: .1em;
}
a {
    cursor: pointer;
}
header, footer {
    color:#fff;
    text-align: center;
    background-color: #0e94d3;
}
h1 {
    padding-top: 1.1em;
    font-weight: 600;
    font-size: 200%;
    letter-spacing: .2em;
    color: rgba(255,255,255,.9);
}
h2 {
    font-size: 80%;
    letter-spacing: 1em;
    margin-bottom: 0;
    color: rgba(255,255,255,.7);
    background-color: #0774a7;
}
footer {
    padding-top: 300px;
}
.okFilters {
    padding-top: 1em;
    color:#fff;
    background-color: #94cc6a;
}
.okOr {
    display: inline;
    line-height: 0;
    padding:10px;
    margin:10px;
    border:solid thin #fff;
    border-radius: 50%;
}

@media screen and (min-width: 767px) {
    h1 {
    font-size: 300%;
   }
    h2 {
    font-size: 100%;
    }
}